<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Amadon</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'amadon/css/indexStyle.css' %}">
    </head>
    <body>
        <h2>Amadon store</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Dojo t-shirtDojo Sweater</td>
                <td>$19.99</td>
                <td><form action="/buy" method="post">
                    {% csrf_token %}
                    <select name="quantity">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type="hidden" name="item_id" value="1001">
                    <input type="submit" value="Buy Now!">
                </form></td>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td><form action="/buy" method="post">
                    {% csrf_token %}
                    <select name="quantity">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type="hidden" name="item_id" value="1002">
                    <input type="submit" value="Buy Now!">
                </form></td>
            </tr>
            <tr>
                <td>Dojo Coffee Mug</td>
                <td>$4.99</td>
                <td><form action="/buy" method="post">
                    {% csrf_token %}
                    <select name="quantity">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type="hidden" name="item_id" value="1003">
                    <input type="submit" value="Buy Now!">
                </form></td>
            </tr>
            <tr>
                <td>Algorithm Book</td>
                <td>$49.99</td>
                <td><form action="/buy" method="post">
                    {% csrf_token %}
                    <select name="quantity">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type="hidden" name="item_id" value="1004">
                    <input type="submit" value="Buy Now!">
                </form></td>
            </tr>
        </table>
    </body>
</html>
